body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Container geral da tela de login */
.login-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #16001E;
    position: relative;
    
  }
  
  /* Elipses como fundo */
  .background-elipses {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  
  /* Caixa principal de login */
  .login-box {
    background-color: #510054;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  /* Header contendo o título "Entrar" */
  .login-header {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .login-header h1 {
    font-size: 46px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
  }
  
  /* Inputs e botão de login */
  .login-inputs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 400px;
  }
  
  .input-field {
    margin-left: 40px;
    padding: 12px;
    width: 400px;
    margin-bottom: 25px;
    border-radius: 8px;
    border: none;
    background-color: #710075;
    font-size: 1rem;
    color: white;
  }

    .input-field::placeholder {
      color: #E3B4FF;
    }

  .input-names{
    display: flex;
    flex-direction: row;
    margin-left: 40px;

        .input-field-nome {
            padding: 12px;
            width: 180px;
            margin-bottom: 25px;
            border-radius: 8px;
            border: none;
            background-color: #710075;
            font-size: 1rem;
            color: white;
        }
        
        .input-field-nome::placeholder {
            color: #E3B4FF;
        }
        .input-field-nome:first-child{
            margin-right: 15px;
        }
    }
  
  
  .login-button {
    margin-left: 152px;
    margin-top: 30px;
    background-color: #8D00AD;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #c000cc;
  }
  
  .register-link {
    margin-left: 100px;
    color: white;
    margin-top: 20px;
    text-align: center;
  }
  
  .register-link a {
    color: #F000FF;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  /* Cards SVG ao lado dos inputs */
  .login-cards {
    padding: 20px;
    top: 20px;
    width: 500px;
    height: 500px;
  }
  
  /* Colocando logo no topo */
  .logo {

    left: 30px;
    width: 70px;
    height: 50px;
    }


/* CustomCalendar.css */
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.calendar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.calendar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.month {
  color: #bb86fc;
  font-weight: bold;
  margin-bottom: 5px;
}

.days-of-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.day-name {
  color: #bb86fc;
  font-weight: bold;
  margin-bottom: 5px;
}

.week {
  display: flex;
  flex-direction: column;
}

.day {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 3px;
  transition: transform 0.2s;
}

.day:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.home-container{
  padding: 0%;
  header{
    background-color: #270034;
    position: relative;
    padding: 5px;

    .name-logo{
      font-size: 12px;
      display: flex;
      flex-direction: row;
      height: 45px;
      align-items: center;
      background-image: linear-gradient(to right, rebeccapurple, #C900DB, #6D0075);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      img {
        height: 40px;
        width: 50px;
        margin-right: 10px;
        margin-left: 20px;
      }
    }

    .search-bar{
      margin-top: 5px;
      align-items: center;
      align-self: center;
      height: 35px;
      width: 600px;
      background-color: #14001E;
    }

    .nav-icons{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;

      button{
        align-items: center;
        flex-direction: row;
        display: flex;
        font-size: 16px;
      }
      
      img{
        margin-right: 5px;
        height: 24px;
        width: 25px;
        align-self: center;
      }
      img[alt="person"] {
        width: 40px;
        height: 40px;
      }
    }
  }
  .main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  .flashcard-container{
    display: flex;
    flex-direction: column;
    align-self:center;
    

    .top-name-flashcards{
      display: flex;
      flex-direction: row;
      font-size: 10px;
      margin-bottom: -20px;
      margin-top: 20px;

      h1{
        font-weight: 500;
      }

      img{
        margin-right: 5px;
        width: 30px;
      }
    }

    .card-stack{
      display: flex;
      flex-direction: row;
      align-items: center;


      .card.main-card{
        align-self: center;
        width: 250px;
        height: 320px;
        background-color: #4B0049;
        position: relative;
        z-index: 2;

        img{
          display: flex;
          flex-direction: row;
          margin-left: 190px;
          width: 25px;
          cursor: pointer;
        }

        h2{
          font-size: 40px;
          margin-bottom: 10px;
        }

        p{
          justify-content: center;
          margin-top: 0;
          font-size: 16px;
          background-color: #6D0075;
          border-radius: 15px;
          padding: 5px;
          width: 110px;
          align-items: center;
          margin-left: 50px;
          align-content: center ;
        }

        .study-btn{
          border: none;
          background-color: #9F00AD;
          border-radius: 10px;
          color: white;
          width: 150px;
          height: 40px;
          font-size: 20px;
          margin-top: 100px;
          cursor: pointer;
          transition: 0.3s;
        }

        .study-btn:hover{
          background-color: #AD4AC9;
        }

      }

      .card.smaller-card01{
        background-color: #4D005F;
        top: 15px;
        left: 190px;
        z-index: 1;
        position: relative;
        width: 250px;
        height: 280px;
        transform: rotate(-11deg);     
      }
      
      .card.smaller-card02{
        top: 15px;
        right: 190px;
        z-index: 1;
        position: relative;
        width: 250px;
        height: 280px;
        background-color: #AD4AC9;   
        transform: rotate(11deg);     
      }   
    }

    .slider {
      display: flex;
      flex-direction: column;
    }
    
    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 15px;
      margin-bottom: -15px;
      align-self: flex-end;
    }
    
    p img {
      margin-left: 5px;
      height: 14px;
    }
    
    .flashcard-slider-container {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 20px;
      width: 560px; 
    }
    
    .flashcard-slider {
      margin-left: 15px;
      margin-right: 15px;
      display: flex;
      flex-direction: row;
      overflow-x: scroll; 
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    
    .flashcard-slider::-webkit-scrollbar {
      display: none;
    }
    
    .flashcard-slider button {
      padding: 0;
      margin-left: 5px;
      margin-right: 5px;
      height: 130px;
      width: 130px;
      background-color: #4B0049;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: medium;
      font-weight: 500;
      flex-shrink: 0;
      
    }
    
    .arrow-right, .arrow-left {
      background-color: transparent;
      width: 30px;
      height: 30px;
      border: none;
    }
    
    .arrow-left {
      transform: rotate(180deg);
    }
    
    .flashcard-slider-container .arrow-left, .flashcard-slider-container .arrow-right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130px; 
    }

    .flashcard-slider-container button {
      cursor: pointer;
    }

    .new-deck-button{
      margin-top: 30px;
      font-size: 20px;
      color: white;
      background-color: #9F00AD;
      width: 180px;
      height: 50px;
      transition: 0.3s;
    }

    .new-deck-button:hover{
      background-color: #AD4AC9;
    }
    
  }

  .daily-offensive{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}